<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет фундаментных болтов | ДИВИЗИОН</title>
</head>
<body>

<div class="form-wrap">
        <h1>Расчет фундаментных болтов</h1>
    <form method="post" action="/calc">

        <div>
            <label for="diameter_bolt">Диаметр болта</label>
            <select name="diameter_bolt">
                <option>Выберите диаметр</option>
                <option value="12">12</option>
                <option value="16">16</option>
                <option value="20">20</option>
                <option value="24">24</option>
                <option value="30">30</option>
                <option value="36">36</option>
                <option value="42">42</option>
                <option value="48">48</option>
            </select>

        </div>

        <div>
            <label for="length_bolt">Длина болта</label>
            <input type="text" name="length_bolt" required>
        </div>

        <div>
            <label for="price_metal">Цена металла</label>
            <input type="text" name="price_metal" required>
        </div>

        <div>
            <label for="count_bolts">Количество</label>
            <input type="text" name="count_bolt" required>
        </div>

        <button type="submit">Рассчитать</button>
    </form>
</div>

</body>
</html>